
.home{
    margin-top: 0px!important;
}

.sidebar{
    position: absolute;
    top: 350px;
    right: 70px;
    width: 58px;
}

.main-content{
    float: left;
    display: block;
    width:80%;
}

.about{
    margin: 55px;
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: block;
}

.customHome {
    padding: 30px;
    border: 1px solid greenyellow;
}

.header{
    margin: 51px!important;
    width: 88.6%!important;
}
